{
  "extends": "stylelint-config-standard",
  "rules": {
    "indentation": 2,
    "string-quotes": "single",
    "no-duplicate-selectors": true,
    "selector-class-pattern": null,
    "color-hex-case": "lower",
    "color-hex-length": "short"
  }
}