<head>
    {{/* Meta Tags */}}
    {{ partial "head/_meta.html" . }}
    
    {{/* Fontes */}}
    {{ partial "head/_fonts.html" . }}
    
    {{/* Estilos */}}
    {{ partial "head/_styles.html" . }}
    
    {{/* Social Meta */}}
    {{ partial "head/_social.html" . }}
    
    {{/* Favicon */}}
    {{ partial "head/_favicon.html" . }}
    
    {{/* Schema.org */}}
    {{ partial "schema.html" . }}
    
    {{/* Analytics */}}
    {{ if site.Params.analytics.googleAnalytics }}
    <link rel="preconnect" href="https://www.google-analytics.com" crossorigin>
    {{ end }}
</head>