{{ $image := .image }}
{{ $alt := .alt }}
{{ $class := .class }}

<picture>
    {{ range site.Params.performance.images.formats }}
        {{ range site.Params.performance.images.sizes }}
            {{ $resized := $image.Resize (printf "%dx" .) }}
            {{ $converted := $resized.Convert . }}
            <source
                media="(max-width: {{ $resized.Width }}px)"
                srcset="{{ $converted.RelPermalink }}"
                type="image/{{ . }}"
            >
        {{ end }}
    {{ end }}
    
    {{/* Fallback para navegadores que não suportam picture */}}
    <img
        src="{{ $image.RelPermalink }}"
        alt="{{ $alt }}"
        class="{{ $class }}"
        {{ if site.Params.performance.images.lazy }}loading="lazy"{{ end }}
        width="{{ $image.Width }}"
        height="{{ $image.Height }}"
    >
</picture>