{{/* Preconnect para otimizar DNS */}}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous">

{{/* Carregamento otimizado das fontes */}}
{{ if site.Params.performance.preload.fonts }}
<link rel="preload" 
      href="https://fonts.googleapis.com/css2?family={{ site.Params.fonts.heading | default "Fraunces" }}:wght@300;400;500&family={{ site.Params.fonts.body | default "Inter" }}:wght@300;400;500;600;700;800&display=swap" 
      as="style"
      onload="this.onload=null;this.rel='stylesheet'">
<noscript>
    <link href="https://fonts.googleapis.com/css2?family={{ site.Params.fonts.heading | default "Fraunces" }}:wght@300;400;500&family={{ site.Params.fonts.body | default "Inter" }}:wght@300;400;500;600;700;800&display=swap"
          rel="stylesheet">
</noscript>
{{ else }}
<link href="https://fonts.googleapis.com/css2?family={{ site.Params.fonts.heading | default "Fraunces" }}:wght@300;400;500&family={{ site.Params.fonts.body | default "Inter" }}:wght@300;400;500;600;700;800&display=swap" 
      rel="stylesheet">
{{ end }}
